<div id="search-results">
<% if @search_results.length >0 %>
    <% crawler_page_id = @search_results[0].crawler_page_id %>
    <% crawler_page_name = CrawlerPage.find_by_id(crawler_page_id).URL %>
    <div class="page-results">
      <%= crawler_page_name %>
    </div>

    <% @search_results.each do |search_result| %>
        <% if search_result.crawler_page_id != crawler_page_id %>
            <% crawler_page_id = search_result.crawler_page_id %>
            <% crawler_page_name = CrawlerPage.find_by_id(crawler_page_id).URL %>
            <div class="page-results">
              <%= crawler_page_name %>
            </div>
        <% end %>
        <div class="search-result-outer" name="search-result-<%= search_result.id%>">
          <div class="search-result-text">
          <%= raw(search_result.highlighted_result) %>
          </div>
          <span class="search-check-box">
            <input type="checkbox"  id="checkbox-search-result-<%= search_result.id %>" name ="search_result_list[]"  class="check"  value=<%= search_result.id %>  >
          </span>
          <span class="delete-link"> <%= link_to 'delete', delete_result_path(:id => search_result.id), :remote => true %> </span>
        </div>
    <% end %>
<% else %>
    <div>No results found</div>
<% end %>
</div>