
<h1><%= current_domain_crawler.short_name %></h1>
<h3>Version: <%= current_domain_crawler.domain_home_page %></h3>
<h3>Version: <%= current_domain_crawler.version %>, Extraction Date:  <%= current_domain_crawler.created_at.strftime("%b %e, %Y")%></h3>
<% if current_domain_crawler.description and current_domain_crawler.description.length > 0 %>
    <%= current_domain_crawler.description %>
<% end %>


<% if current_domain_crawler.crawler_page != nil %>
    <ul id="domain_page_list" name = "ul-crawler-page-1">
      <li>
        <span>
        <span class="expand-button"
             name="expand-button-<%=current_domain_crawler.crawler_page.id%>"
             onclick="expandCrawlerPage(<%=current_domain_crawler.crawler_page.id%>);">+
        </span>
        <span class="contract-button"
             name="contract-button-<%=current_domain_crawler.crawler_page.id%>"
             style="display: none"
             onclick="contractCrawlerPage(<%=current_domain_crawler.crawler_page.id%>)">-
        </span>
        <%= render 'domain_crawlers/url', args: {:url => current_domain_crawler.crawler_page.URL, :crawler_page_id => current_domain_crawler.crawler_page.id, :long_url =>  crawler_page.URL} %>
        </span>
      </li>
<%= render 'domain_crawlers/submenu_crawler_pages', args: {:crawler_pages => current_domain_crawler.crawler_page.root.descendants.arrange, :parent_id => current_domain_crawler.crawler_page.id } %>
    </ul>
    <% else %>
    <p>something has gone wrong: <%= @domain_crawler.id %></p>
<% end %>