<div class="domain-summary">
  <div class="float-left">
    <h3>Domain Summary</h3></div>
  <%= render 'showhide', div_name: "domain_summary" %>

  <div class="float-clear" name="domain_summary">

        <p>Selected Domain: <%= current_domain_crawler.short_name %> </p>
        <p>URL: <%= current_domain_crawler.domain_home_page %></p>
        <p>Version: <%= current_domain_crawler.version %>, Date: <%= current_domain_crawler.created_at.strftime("%b %e, %Y") %></p>

        <% if current_domain_crawler.description and current_domain_crawler.description.length > 0 %>
            <p>Description: <%= current_domain_crawler.description %></p>
        <% end %>
    <% if current_domain_crawler.crawler_page != nil %>
        <p>Pages:</p>
        <% end %>


    <% DomainCrawler.all.each do |domain_crawler| %>

        <%= render 'domain_pages', domain_crawler: domain_crawler %>
    <% end %>
  </div>

</div>

<script language="javascript">
  SelectDomain(<%=current_domain_crawler.crawler_page.id%>, false);
</script>
