<div class="search-new domain-field">
  <div class="float-left">
    <h3>New Search</h3>
  </div>

  <div class="float-clear" name="search-new">

    <%= form_tag search_path, :id => 'search_form', method: 'post', remote: true do %>
        <div>
          <%= label_tag :Word_Separation %><br />
          <select id="word_separation" name="word_separation" onChange="SelectDomainAction()">
            <%  (1..10).to_a.reverse_each do |val| %>

            <option <% if args[:val_selected] == val %> selected <% end %>  value= <%= val%> > Within <%= val%> </option>
            <% end %>

          </select>
        </div>

        <div class="field">
          <%= label_tag :word1 %><br />
          <%= text_field_tag :word1, params[:word1] %>
        </div>
        <div class="field">
          <%= label_tag :word2 %><br />
          <%= text_field_tag :word2, params[:word2] %>
        </div>
        <div class="field">
          <%= label_tag :word3 %><br />
          <%= text_field_tag :word3, params[:word3] %>
        </div>
        <div class="field">
          <%= label_tag :word4 %><br />
          <%= text_field_tag :word4, params[:word4] %>
        </div>
        <div id="specific_action_variables" class = "hidden" >

        </div>
        <div class="actions hidden "><%= submit_tag "Search C" %>
        </div>
        <div><input type="button" name="search_button"  value="Search" onclick= Search() ></div>
    <% end %>

  </div>
  <div id = "show-prev-next">
  </div>

  <div id="search_notice"></div>
</div>
