<% content_for :title, @domain_crawler.domain_home_page %>


<div id="submenu">
  <%= render 'submenu_domain_crawlers', domain_crawlers: DomainCrawler.all %>
</div>


<p id="notice"><%= notice %></p>

<div id="domain_crawler_details">
  <%= render 'body_details', domain_crawler: @domain_crawler %>
</div>






<%= form_for @domain_crawler do |f| %>
    <p>
      <%= f.label :domain_home_page%><%= f.text_field :domain_home_page, params[:domain_home_page],  :placeholder => "e.g. http://www.dhspriory.org/thomas" %>
      <%= f.label :short_name%><%= f.text_field :short_name, params[:short_name], :placeholder => "e.g. DHS Aquinas" %>
      <%= f.label :description%><%= f.text_field :description, params[:description], :placeholder => "e.g. the dhspriory site has many of Aquinas's works"  %>
      <%= f.hidden_field :user_id, current_user.id %>
    <div class="actions"><%= f.submit "New Domain" %></div>
    </p>
<% end %>
