<!DOCTYPE html>

<html>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<head>
  <title>DominicanOffice</title>
  <%= csrf_meta_tags %>


</head>

<body>
<% @result_str = "" %>
<div class="sidemenu">
  <%= render 'users/user_header', current_user: current_user %>
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <% if current_user %>

      <div class="domain-crawler">
        <%= render 'domain_crawlers/domain_summary', args: {:selected => DOMAIN_ACTION[:select_action]}  %>
        <%= render 'domain_crawlers/new_domain_form', args: {:user_id => current_user.id, :domain_crawler => DomainCrawler.new} %>
        <%= render 'domain_crawlers/new_search_form', args: {:user_id => current_user.id} %>
        <%= render 'domain_crawlers/old_search_form', args: {:user_id => current_user.id} %>
        <%= render 'domain_crawlers/groups', args: {:selected => GROUP_ACTION[:select_action]} %>
      </div>



  <% end %>
  <%= yield %>
</div>
<div class="main-panel">
  <div class="menu-div">
    <div class="menu-tab"  onclick="ShowSearchResults()" > searches</div>
    <div class="menu-tab"   onclick="ShowGroupResults()" > groups</div>
  </div>
  <div class="main-panel-content">
    <div id="search-results" ></div>
    <div id="group-results"></div>
  </div>
</div>
</body>
</html>
