<!DOCTYPE html>

<html>
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
  <head>
    <title>DominicanOffice</title>
    <%= csrf_meta_tags %>


  </head>

  <body>
  <div class="sidemenu">
    <%= render 'users/user_header', current_user: current_user %>
  <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
    <% if current_user %>

        <div class="domain-crawler">
          <%= render 'domain_crawlers/domain_summary' %>
          <%= render 'domain_crawlers/new_domain_form', args: {:user_id=>current_user.id, :domain_crawler=>DomainCrawler.new }%>
          <%= render 'domain_crawlers/new_search_form', args: {:user_id=>current_user.id, :domain_crawler=>DomainCrawler.new }%>
        </div>
        <p> here is a sentence with a word such as <span class="highlight">Go</span>d highlighted</p>





    <% end %>
    <%= yield %>
  </div>
  <div class="main-panel">
    <div class="menu-div text999 width100">
      <div class="menu-tab margin00023"> searches </div>
      <div class="menu-tab margin00023"> groups </div>
    </div>

      </div>
  </body>
</html>
